* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 16px;
}

@font-face {
  font-family: norseBold;
  src: url(./assests/Norse-Bold.otf);
}

body {
  display: flex;
  background-color: rgb(247, 247, 247);
}

.background-img {
  display: flex;
  flex-direction: column;
  background-image: url(./assests/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  width: 36vw;
}

#logo-background {
  background-color: rgba(0, 0, 0, 40%);
  display: flex;
  height: 7rem;
  padding: 0.75rem;
  position: relative;
  top: 20%;
}

#logo {
  margin-left: auto;
}

#company-name {
  color: #fff;
  font-size: 4rem;
  font-family: norseBold;
  margin-right: auto;
  align-self: center;
}

#image-credit {
  align-self: center;
  position: fixed;
  bottom: 2%;
}

#image-credit,
#image-credit > a {
  color: #fff;
  font-size: 0.65rem;
}

#hero-section {
  padding: 7rem 9rem 2rem 2rem;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 0;
}

form {
  background-color: #fff;
  padding: 0rem 9rem 1.5rem 2rem;

  /*grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(15, 0.6rem);
  column-gap: 3rem;*/
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  padding: 0.25rem;
  font-size: 0.8rem;
  margin: 0 3.25rem 0.8rem 0;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 2px 1px 4px #c4c4c4;
}

label {
  font-size: 0.55rem;
  display: block;
  z-index: 100;
  overflow: visible;
}

#submit-section {
  padding: 1.5rem 7rem 7rem 2rem;
}
